/*
---------------------------
  header
---------------------------
*/

.header {
    @include background(header);
    $header-height: 50px;

    &._transparent {
        @include border($cardinal: bottom, $color: alpha_clair);
        @include background(alpha_sombre);
        position: absolute;
        z-index: 3;
        top: 0;
        width: 100%;
    }

    &-conteneur {
        @extend .conteneur;
        display: flex;
        width: 100%;
        height: 50px;

        @include screen(not-large) {
            padding: 0;
        }
    }

    &-burger,
    &-menu,
    &-logo {
        display: flex;
        align-items: center;
    }

    &-burger {
        @include border($cardinal:left, $color:alpha_clair);
        padding-left: pas(m);
        display: flex;

        @include screen(medium) {
            padding-right: pas(m);
        }

        @include screen(from-large) {
            display: none;
        }
    }

    &-logo {
        display: flex;
        align-items: center;
        flex: 1;

        @include screen(medium) {
            padding-left: pas(m);
        }
    }

    &-menu {

        @include screen(from-large) {
            @include border($cardinal:left, $color:alpha_clair);
            @extend %color-negatif;
            flex: initial;
            display: flex;
            align-items: stretch;
        }

        @include screen(not-large) {
            @include color(std);
            display: block;
            position: fixed;
            flex: none;
            height: 100vh;
            width: 100vw;
            max-width: 300px;
            top: 0;
            left: -320px;
            color: #999;
            background: white;
            transition: left 0.3s ease-in;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }

        &.est-ouvert {

            @include screen(not-large) {
                left: 0;
            }
        }
    }

    &-filtresombre {
        @include background(alpha_sombre);
        position: fixed;
        top: 0;
        left: 0;
        height: 0;
        width: 100vw;
        opacity: 0;
        transition: opacity 0.3s ease-in;
        cursor: pointer;

        @include screen(not-large) {
            &.est-ouvert {
                opacity: 1;
                height: 100vh;
            }
        }
    }

    &-fermer {
        padding: pas(s) pas(m) 0 0;

        @include screen(from-large) {
            display: none;
        }

        > a:before {
            @include color(gris);
            font-size: 30px;
        }
    }

    &-item {

        @include screen(from-large) {
            @include border($cardinal:right, $color:alpha_clair);
            display: flex;
            align-items: center;

            > a {
                @extend %color-negatif;
            }
        }

        @include screen(not-large) {

            .deroulant-entete {
                @include color(std);
                @include border($cardinal:top);
                padding: pas(m);
                display: block;

                &:before {
                    display: none;
                }
            }
        }

        &.deroulant {

            @include screen(not-large) {
                margin-top: pas(s);
            }
        }
    }

    &-item,
    .deroulant-item {

        @include screen(not-large) {
            > a {
                @include color(std);
            }
        }
    }

    &-lien {
        display: flex;
        padding: pas(s) pas(m);
    }

    &-sousmenu {
        margin-bottom: pas(s);

        @include screen(not-large) {
            border-left: 0;
            border-right: 0;
        }
    }

    ._hide-not-large {

        @include screen(not-large) {
            display: none;
        }
    }

    a {
        cursor: pointer;
        text-decoration: none;
    }
}

/*
---------------------------
  footer
---------------------------
*/

.liensfooter {
    padding: pas(l) 0;
    text-align: center;

    &-item {
        @include screen(from-medium) {
            display: inline;
            padding: 0 pas(s);
        }
        @include screen(small) {
            display: block;
            text-align: center;
        }

        &-lien {
            @extend %color-liens-sombres;
            &:hover {
                @extend %color-liens-sombres-hover;
            }
        }
    }

    @include screen(from-medium) {
        &-item {
            display: inline-block;
            padding: 0 pas(s);
        }
        & &-item:not(:last-child)::after {
            content: "|";
            margin-left: pas(m);
        }
    }
}

/*
---------------------------
  page de formulaire
---------------------------
*/
$label-width: 150px;
$label-width-large: 220px;

.form {

    &-groupe {
        @include border($cardinal: bottom);
        padding-bottom: pas(l);
        margin-bottom: pas(l);
    }

    &-soustitre {
        @extend .t7;
        &:first-child {
            margin-top: 0;
        }
    }

    &-ligne ~ &-soustitre {
        @include screen(from-medium) {
            margin: pas(xl) 0 pas(m);
        };
    }

    &-soustitre:first-child {
        margin-top: pas(s);
    }

    &-option {
        @extend .itemfleche;
        @extend %border-double;
        display: block;
        padding: pas(m) 0;

        @include screen(from-large) {
            margin-bottom: pas(l);
        }
    }

    &-ligne {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin: pas(s) 0;

        &._petit {
            @include screen(small) {
                width: 100%;
            }
            @include screen(from-medium) {
                width: 50%;
            }
        }

        &._aligntop {
            align-items:flex-start;
        }

        &._espaceur {
            margin-bottom: pas(xl);

            @include screen(small) {
                margin-bottom: pas(l);
            }
        }

        @include screen(from-medium) {
            padding-top: 0;
            padding-bottom: 0;
        }

        @include screen(small) {
            flex-flow: row wrap;
            margin-top: 0;
            margin-bottom: 0;
        }

        &-input.date input {
            background: url('../imgs/Calendrier.svg') no-repeat right pas(m) center ;
            background-size: 20px 20px;
        }

        &-input {
            flex: 2;

            @include screen(small) {
                flex: 1 100%;
                margin-bottom: pas(s);
            }

            @include screen(from-medium) {
                margin: 0;
            }
        }

        &-input + &-input {
            margin-left: pas(s);
        }

        // lignes forcées à 100%
        // pour aceuilir des sous-options
        &-sousligne {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            @include screen(small) {
                padding-left: pas(l);
            }
        }

        &-label {
            width: $label-width;

            &.est-requis::after {
                @extend %color-gris;
                content: " *";
            }

            @include screen(from-large) {
                &:not(:first-child) {
                    padding-left: pas(m);
                }
            }

            @include screen(small) {
                flex: 1 100%;
                margin-top: pas(m);
                margin-bottom: pas(s);
            }

            ._longlabel & {
                @include screen(from-medium) {
                    width: $label-width-large;
                }
            }
        }

        &-mention { // texte aligné avec les champs de formulaires
            @include screen(from-medium) {
                margin-left: $label-width;
                flex: 1;

                ._longlabel & {
                    margin-left: $label-width-large;
                }
            }
        }

        &-inputgroupes {
            > * {
                display: inline-block;
                vertical-align: top;
                &:not([type="radio"],[type="checkbox"]){
                    margin-bottom: pas(s);
                }
            }
            & >[type="radio"] ~ label ,
            & >[type="checkbox"] ~ label {
                margin: 0 pas(m) pas(m) 0;
            }
        }
        // set de la marge left à zero
        &-input > &-inputgroupes {
            margin-left: 0;
        }

        /* hack pour css magento */
        div.validation-advice,
        &-erreur {
            @extend %color-erreur;
            flex: 1 100%;
            margin-top: pas(s);
        }
    }

    &-action {
        padding-top: pas(l);
        text-align: center;

        @include screen(from-large) {
            padding-top: pas(xl);
            text-align: right;
        }

        &._petitemarge {
            padding-top: pas(m);
        }

        .btn:not(:last-of-type) {
            margin-right: pas(m);
        }
    }
    // utilisé pour insérer du texte
    // sous un bouton (ex paiement sécurisé)
    &-boitebouton {
        display: inline-block;
        padding: pas(m) 0;
        text-align: center;
    }
}

/*
---------------------------
  historique d'achat
---------------------------
*/

.achats {
    & &-ligne {
        border-bottom: none;

        &:nth-child(4n+1) {
            @include background(clair);
        }
        &:nth-child(4n+3) {
            @include background(gris);
        }
    }

    &-detail {
        @include background(gris);

        & > td {
            padding: 0;
            margin: 0;

            @include screen(small) {
                padding: 0;
                margin: 0;
            }
        }

        &-conteneur {
            padding: 0 pas(s) pas(s);

            @include screen(small) {
                padding-bottom: pas(m);
            }
        }

        &-liste {
            @include background(clair);
            @include border();
            @include bloc-fleche($borderColor: $gris-7, $position: 'top');
            position: relative;
            padding: pas(m);
        }
    }

    & &-detail:nth-child(4n+2) {
        @include background(clair);
    }

    & &-detail:nth-child(4n+4) {
        @include background(gris);
    }

    &-labelmobile {
        @include screen(from-medium) {
            display:none;
        }
        @include screen(small) {
            display: block;
            font-weight: bold;
            width: 100%;
        }
    }
}

/*
---------------------------
  moyens de paiements
---------------------------
*/
.paiement {
    &-liste {
        &-item {
            padding: pas(s) 0;

            input[type="radio"] {
                display: inline-block;
                float: left;
                margin-right: pas(s);
            }
        }
    }

    &-detail {
        margin-top: pas(m);
        &-titre {
            margin-bottom: pas(s);
        }
    }
}

/*
---------------------------
  confirmation de
  changement d'adresse
---------------------------
*/
.confirmeadresse {
    @extend %border-double;
    margin: pas(m) 0 pas(l);
    padding: pas(m) 0;

    &-adresse {
        flex: 1;
        padding: pas(m);

        &-titre {
            margin: 0 0 pas(m);
        }
    }

    &-fleche {
        width: 60px;
        align-self: center;
        text-align: left;

        @include screen(small) {
            text-align: center;
            font-size: 20px;
            line-height: 20px;
            &:before {
                display: inline-block;
                transform: rotate(90deg);
                transform-origin: 50% 50%;
            }
        }

        &:before {
            font-size: 30px;
            line-height: 30px;
            color: $gris-7;
        }
    }
}

/*
---------------------------
  Gerer mon abonement
---------------------------
*/
.gererabo {
    margin-bottom: pas(l);

    &-section {
        @include border($cardinal: bottom);
        padding-bottom: pas(m);
        margin-bottom: pas(s);
    }

    &-soustitre {
        font-weight: bold;

        @include screen(small) {
            margin-top: pas(m);
        }
    }
}

/*
---------------------------
  accordeon
---------------------------
*/
.accordeon {
    @include border($cardinal: top);

    &-entete {
        padding: pas(m) 0;

        &:hover {
            cursor: pointer;
        }
    }

    &-titre {
        @extend .textelarge;
        margin: 0 0 pas(s);
        font-weight: bold;
    }

    &-contenu {
        @extend %transition;
        overflow: hidden;
        max-height: 0;
        margin-bottom: 0;

        .est-ouvert & {
            max-height: 10000px;
            margin-bottom: pas(m);
        }
    }

    &-bouton {
        @extend %icon;
        @extend .icon-Chevron-bas;
        text-align: center;
        max-height: 0;

        &:before {
            font-size: 14px!important;
            @extend %transition;
            float: right;
            margin-left: pas(s);
        }

        &:after {
            content: "ouvrir";
        }

        .est-ouvert & {
            max-height: none;
            &:after {
                content: "fermer";
            }
            &:before {
                transform: rotateX(180deg);
            }
        }
    }
}


/*
---------------------------
  tunnel d'achat
---------------------------
*/
.tunnel {
    padding-top: pas(xl);

    &-mention {
        text-align: right;
        padding: 0;
        line-height: 0;
        transform: translateY(-1.6em);
    }
}
