* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    @include fontsize(std);
    margin: 0;
    padding: 0;
}

/*---------------------------*\
        Titres
\*---------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-size: 1.2rem;
    font-weight: normal;
}

/*---------------------------*\
 formulaires & champs
\*---------------------------*/

[type="text"],
[type="password"],
[type="email"],
[type="date"],
[type="datetime"],
[type="color"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="week"],
textarea {
    @extend %transition;
    @extend %border-radius-std;
    @include border();
    @include fontsize(std);
    display: block;
    width: 100%;
    max-width: 800px;
    box-sizing: padding-box;
    padding: pas(m);
    margin: 0 1;
    background: $blanc;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;


    &:hover:not(:disabled) {
        @include border();
    }

    &:focus {
        @include border($color: action_hover);
        outline: none;
    }

    &:disabled {
        @extend %color-gris;
        @include background(gris);
    }
}

select {
    @include fontsize(std);
    @extend %border-radius-std;
    @include border();
    height: map-get($config-font-size, std) + pas(l);
    width: 100%;
}

button,
input,
select,
textarea {
    vertical-align: baseline;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

/*---------------------------*\
 Lists
\*---------------------------*/

nav ul {
    list-style: none;
}

ul, li {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/*---------------------------*\
 some reset values
\*---------------------------*/

img { border: 0; }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    margin-top: 0;
    margin-bottom: 0;
}

/*---------------------------*\
 adresses
\*---------------------------*/

address {
    font-style: normal;
}

/*---------------------------*\
 filets, séparateurs
\*---------------------------*/

hr {
    border: 0;
    display: block;
    margin: pas(m) auto;
    height: 0px;

    &._petit {
        width: 70px;
    }

    &._sansmarge {
        margin: 0 auto;
    }

    &._hide-medium {
        @include screen(medium) {
            display: none;
        }
    }
}

hr {
    @include border($cardinal: top);
}
